* {
    text-decoration: none;
}
.Lists  { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.List {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(7, 94, 100);
    border:2px solid black;
    width: 600px;
    height:400px;
    margin-top:20px;
}

.List img {
    width:504px;
    height:300px;
}

input {
    width:400px;
    height:40px;
}

.title {
    display: flex;
    flex-direction: column;
}